<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzhou.cabinet.mapper.BoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suzhou.cabinet.entity.Box">
        <id column="id" property="id" />
        <id column="box_type" property="boxType" />
        <result column="h" property="h" />
        <result column="w" property="w" />
        <result column="d" property="d" />
        <result column="name" property="name" />
        <result column="is_empty" property="isEmpty" />
        <result column="cabinet_id" property="cabinetId" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        h, w, d, id, name, is_empty, cabinet_id, del_flag
    </sql>
    <insert id="insInit">
        insert into box(h,w,d,id,name,is_empty,cabinet_id,del_flag,box_type) values
        <foreach collection="list" item="item" separator=",">
            (#{item.h},#{item.w},#{item.d},#{item.id},'',#{item.isEmpty},#{item.cabinetId},#{item.delFlag},#{item.boxType})
        </foreach>
    </insert>
    <update id="updNotEmpty">
        update box set is_empty='0' where id=#{id}
    </update>
    <select id="selEmptyByCabinetId" resultType="com.suzhou.cabinet.entity.Box">
        select * from box where cabinet_id=#{cabinetId} and del_flag=0 and is_empty=1
    </select>
    <select id="selNotEmptyBoxByCabinetId" resultType="com.suzhou.cabinet.entity.Box">
        select * from box where del_flag=0 and is_empty=1 and cabinet_id=#{id}
    </select>

</mapper>
