<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzhou.cabinet.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suzhou.cabinet.entity.Order">
        <id column="id" property="id" />
        <result column="box_id" property="boxId" />
        <result column="arrival_time" property="arrivalTime" />
        <result column="courier_id" property="courierId" />
        <result column="user_id" property="userId" />
        <result column="code" property="code" />
        <result column="order_code" property="orderCode" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, box_id, arrival_time, courier_id, user_id, code
    </sql>
    <insert id="insOrder">
        INSERT INTO `order` ( id, box_id, courier_id, code ) VALUES ( #{order.id}, #{order.boxId}, #{order.courierId}, #{order.code} )
    </insert>
    <select id="selByCourierId" resultType="com.suzhou.cabinet.entity.Order">
        select
            o.id as id,
            c.name as boxId,
            o.create_time as createTime,
            o.code as code
        from `order` as o
            inner join box as b on b.id=o.box_id
            inner join cabinet as c on b.cabinet_id=c.id
        where courier_id=#{id} and arrival_time is null
        order by o.create_time desc;
    </select>

</mapper>
