<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suzhou.cabinet.mapper.RegionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.suzhou.cabinet.entity.Region">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parent_id" property="parentId" />
        <result column="boundary_point" property="boundaryPoint" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_directory" property="isDirectory" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parent_id, boundary_point, del_flag, create_time, update_time, is_directory
    </sql>
    <update id="delRegionById" parameterType="string">
        update region set del_flag = 1 where id=#{id}
    </update>
    <update id="delRegionByIds" parameterType="string">
        update region set del_flag = 1
        <where>
            id in
            <foreach collection="str" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </update>
    <select id="selAllRegions" resultType="com.suzhou.cabinet.entity.Region">
        select * from region where del_flag = 0
    </select>
    <select id="selRegionsByParentId" parameterType="string" resultType="com.suzhou.cabinet.entity.Region">
        select * from region where del_flag = 0 and parent_id=#{id}
    </select>
    <select id="selCombine" resultType="com.suzhou.cabinet.entity.Region">
        select * from region where parent_id=#{parentId} and seq_no=#{seqNo}
    </select>
    <select id="selSeqNoCount" resultType="java.lang.Integer">
        select MAX(0+seq_no) from region where parent_id=#{parentId}
    </select>
    <select id="selAllFatherPoint" resultType="com.suzhou.cabinet.entity.RegionTree">
        select id,name,parent_id,is_directory from region where parent_id='0' and del_flag = 0
    </select>
    <select id="selRegionsByFatherId" resultType="com.suzhou.cabinet.entity.RegionTree">
        select id,name,parent_id,is_directory from region where del_flag = 0 and parent_id=#{id} order by is_directory desc,create_time asc
    </select>
    <select id="selByNameAndParentId" resultType="com.suzhou.cabinet.entity.Region">
        select * from region where del_flag = 0 and name=#{name} and parent_id=#{parentId}
    </select>
    <select id="selUpdateNameAndParentId" resultType="com.suzhou.cabinet.entity.Region">
        select * from region where del_flag = 0 and name=#{name} and parent_id=#{parentId} and id!=#{id}
    </select>
    <select id="selNotFather" resultType="com.suzhou.cabinet.entity.RegionTree">
        select id,name,parent_id,is_directory from region where parent_id!='0' and del_flag = 0
    </select>
    <select id="selRegions" resultType="com.suzhou.cabinet.entity.Region">
        select * from region where is_directory = 0 and del_flag = 0
    </select>
    <select id="selectById" resultType="com.suzhou.cabinet.entity.Region">
        select * from region where id = #{parentId} and del_flag = 0
    </select>

</mapper>
